.about{
    width: 100%;
    margin:3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
    gap: 10rem;
}
.about .left{
    text-align: left;
    /* margin: auto; */
    padding: 1rem;
    max-width: 750px;
}
.about .left h1{
    color: #1a2238;
    font-size: 3.5rem;
}
.about .left p{
  margin: 1.2rem 0;  
  color: #1a2238;
}
.about .right{
    max-width: 700px;

}



.right .Home-img{
    background:url(../assets/aboutportt.png) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 350px;
    height: 350px;
    box-shadow: inset 0 0 0 9px rgb(227,27,109 , 0.3);
    order: 1;
    justify-self: center;
    animation: profileport_animate 8s ease-in-out infinite 1s;
}
@keyframes profileport_animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
    5%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60% ;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40% ;
    }
}