.icons{
   margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap :2rem;
}
.icons a{
    display: flex;
    text-align: center;
align-items: center;
justify-content: center;
gap: 1rem;
}
.icons a h6{
font-size: 1rem;
}
.icons .linkicon {
    font-size: 3.5rem;
}